      <input type="button" value="reload" onClick="onReloadClick()" />
      <input type="button" value="save" onClick="onSaveClick()" />
<table class="table table-striped">
  <caption>授業一覧</caption>
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">名称</th>
      <th scope="col">クォーター</th>
      <th scope="col">曜日</th>
      <th scope="col">時間</th>
      <th scope="col">曜日</th>
      <th scope="col">時間</th>
      <th scope="col">ST</th>
      <th scope="col">SA</th>
      <th scope="col">PM</th>
      <th scope="col">SM</th>
      <th scope="col">TS</th>
      <th scope="col">BA</th>
    </tr>
  </thead>
  <tbody data-1h="0" data-2h="0">
      <% @lectures.each do |lecture| %>
        <%  l = lecture.lecture_period.length %>
        <tr data-dup="0">
          <th scope="row"><%= lecture[:id] %></th>
          <td class="name"><%= lecture[:name] %></td>
          <td class="quarter"><%= lecture[:quarter] %></td>
          <td class="week week1"><%= lecture.lecture_period[0].week.name if l != 0%></td>
          <td class="hour hour1"><%= lecture.lecture_period[0].period if l != 0%></td>
          <td class="week week2"><%= lecture.lecture_period[1].week.name if l == 2%></td>
          <td class="hour hour2"><%= lecture.lecture_period[1].period if l == 2%></td>
          <% for i in 1..6 %>
            <td class="cource<%= i %>">
              <% lecture.cource.each do |c| %>
                <% if c.id == i then %>
                  ◯
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
<script>
    $("tbody").on("click", "tr", function () {
       var cur_idx = $(this).index();
       var cur_qtr = $(this).find(".quarter").text();
       var cur_pe1 = $(this).find(".week1").text() + $(this).find(".hour1").text();
       var cur_pe2 = $(this).find(".week2").text() + $(this).find(".hour2").text();
       var cur_h = ((cur_qtr == "1" || cur_qtr == "2") ? "1": "2") + "h";
       if($(this).hasClass("success")){
           $(this).removeClass("success");
           $("tbody").data(cur_h, $("tbody").data(chr_h) - 1)
           $("tbody tr").each(function(index, elm){
               if(index != cur_idx){
                   if($(this).find(".quarter").text() == cur_qtr){
                       var pe1 = $(this).find(".week1").text() + $(this).find(".hour1").text();
                       var pe2 = $(this).find(".week2").text() + $(this).find(".hour2").text();
                       if(cur_pe1 == pe1 || cur_pe1 == pe2 || (cur_pe2 != "" && (cur_pe2 == pe1 || cur_pe2 == pe2))){
                           $(this).data("dup", $(this).data("dup") - 1)
                           console.log($(this).data("dup"))
                           if($(this).data("dup") == 0){
                               $(this).removeClass("danger");
                           }
                       }
                   }
	       }
           })
       } else if(! $(this).hasClass("danger")){
           $(this).addClass("success");
           $("tbody").data(cur_h, $("tbody").data(cur_h) + 1)
           console.log($("tbody").data(cur_h))
           $("tbody tr").each(function(index, elm){
               if(index != cur_idx){
                   if($(this).find(".quarter").text() == cur_qtr){
                       var pe1 = $(this).find(".week1").text() + $(this).find(".hour1").text();
                       var pe2 = $(this).find(".week2").text() + $(this).find(".hour2").text();
                       if(cur_pe1 == pe1 || cur_pe1 == pe2 || (cur_pe2 != "" && (cur_pe2 == pe1 || cur_pe2 == pe2))){
                           $(this).addClass("danger");
                           $(this).removeClass("success");
                           $(this).data("dup", $(this).data("dup") + 1)
                           console.log($(this).data("dup"))
                       }
                   }
	       }
           })
       };
    });
  function onReloadClick() {
  }
  function onSaveClick() {
  }
</script>
