<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="lectures.scss" type="text/css">
</head>
<body>
  <table class="table table-striped">
    <caption>授業一覧</caption>
    <thead>
      <tr>
        <th>#</th>
        <th scope="col">名称</th>
        <th scope="col">クォーター</th>
        <th scope="col">曜日</th>
        <th scope="col">時間</th>
        <th scope="col">曜日</th>
        <th scope="col">時間</th>
      </tr>
    </thead>
    <tbody>
      <% @lectures.each_with_index do |lecture, idx| %>
        <tr>
          <th scope="row"><%= lecture[:id] %></th>
          <td><%= lecture[:name] %></td>
          <td><%= lecture[:quarter] %></td>
          <% if @periods[lecture[:id]].length == 0 %>
          <td></td><td></td><td></td><td></td>
          <% elsif @periods[lecture[:id]].length == 1 %>
          <td><%= @periods[lecture[:id]][0].name %></td>
          <td><%= @periods[lecture[:id]][0].period %></td>
          <td></td>
          <td></td>
          <% else %>
          <td><%= @periods[lecture[:id]][0].name %></td>
          <td><%= @periods[lecture[:id]][0].period %></td>
          <td><%= @periods[lecture[:id]][1].name %></td>
          <td><%= @periods[lecture[:id]][1].period %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <script>
    $("table").on("click", "tr td", function () {
      var col = $(this).index();
      if(col != 2){
        console.log("OK");
      }
    });
  </script>
</body>
