      <input type="button" value="reload" onClick="onReloadClick()" />
      <input type="button" value="save" onClick="onSaveClick()" />
<table class="table table-striped">
  <caption>授業一覧</caption>
  <thead>
    <tr>
      <th>#</th>
      <th scope="col">名称</th>
      <th scope="col">クォーター</th>
      <th scope="col">曜日</th>
      <th scope="col">時間</th>
      <th scope="col">曜日</th>
      <th scope="col">時間</th>
      <th scope="col">ST</th>
      <th scope="col">SA</th>
      <th scope="col">PM</th>
      <th scope="col">SM</th>
      <th scope="col">TS</th>
      <th scope="col">BA</th>
    </tr>
  </thead>
  <tbody>
      <% @lectures.each do |lecture| %>
        <%  l = lecture.lecture_period.length %>
        <tr>
          <th scope="row"><%= lecture[:id] %></th>
          <td class="name"><%= lecture[:name] %></td>
          <td class="quarter"><%= lecture[:quarter] %></td>
          <td class="week week1"><%= lecture.lecture_period[0].week.name if l != 0%></td>
          <td class="hour hour1"><%= lecture.lecture_period[0].period if l != 0%></td>
          <td class="week week2"><%= lecture.lecture_period[1].week.name if l == 2%></td>
          <td class="hour hour2"><%= lecture.lecture_period[1].period if l == 2%></td>
          <% for i in 1..6 %>
            <td>
              <% lecture.cource.each do |c| %>
                <% if c.id == i then %>
                  ◯
                <% end %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
  </tbody>
</table>
<script>
    $("tbody").on("click", "tr", function () {
       if($(this).hasClass("success")){
           $(this).removeClass("success");
       } else if(! $(this).hasClass("danger")){
           $(this).addClass("success");
           var row = $(this).index();
           $("tbody tr").each(function(index, elm){
               if(index != row){
	           $(this).addClass("danger");
                   $(this).removeClass("success");
	       }
           })
       };
    });
  function onReloadClick() {
  }
  function onSaveClick() {
  }
</script>
